html {
    font-size: 62.5%;
    box-sizing: border-box;
    min-height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a{
    text-decoration: none;
    color: $Black;
}

img{
    width: 100%;
    padding: 0;
}
.contenedor{
    max-width: 100rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5rem;
}