@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

$fuente-principal: 'PT Sans', sans-serif;


//Font weight
$bold: 700;
$ultra-bold: 900;


//Colores
$verde: rgb(47, 129, 47);
$rojo: rgb(173, 23, 23); 
$White: white;
$Black: rgb(22, 21, 21);